%h3 Edit Limitation
%i.fa-solid.fa-circle-info
%p DateTimes will be transformed to the beginning of day and the end of day. E.g. an end date of 2099-12-31T13:00:00 becomes 2099-12-31T23:59:59.
= render 'form', limitation: @limitation